body {
    font-family: 'Arial', sans-serif;
  }
  
  /* You can add more CSS rules for other elements */
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Arial', sans-serif;
  }
  
  p {
    font-family: 'Arial', sans-serif;
  }